**/bin/
!3rdparty
bin-int/

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.filters
**.csproj.user
**/Makefile
Crowny/Dependencies/mono/
Crowny/Dependencies/vulkan/

Crowny-Editor/Resources/Models/

.vscode/c_cpp_properties.json

.vscode/
